body {
	margin: 0;
	padding: 0;
	background-color: #282828;
}

* {
	box-sizing: border-box;
}


.circle {
	border-radius: 50%;
	
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: .5;

	transform: translate(-50%, -50%);
}